@charset "UTF-8";

* {
 font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #EFDFCC, #D4C2AD);
}

main{
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #8868598e;
    width: 600px;
    padding: 10px;
    margin: auto;

}

h1{
    color: #66796B;
    text-align: center;
    text-shadow: 1px 2px 2px #8868598e ;
}

h2{
   color: #66796B ;
}
p {
   text-align: justify;
}